.MovieSection {
  background-color: #fff;
  display: flex;
  position: relative;
  border-radius: 4px;
}

.PosterSection {
  .Poster {
    border-radius: 4px;
    margin: 20px;
  }
}

.Description {
  padding: var(--spacing-8);
}

.MovieTitle {
  margin: 0;
  margin-bottom: var(--spacing-5);
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.Info {
  margin-bottom: var(--spacing-5);
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.InfoFirstRow {
  display: flex;
  gap: 20px;
  align-items: center;
}

.InfoSecondRow {
  display: flex;
  align-items: center;
}

.Genre {
  position: relative;
  padding: 0 10px;

  &:first-child {
    padding-left: 0;
  }

  &:not(:last-child) {
    &:after {
      content: '';
      position: absolute;
      width: 3px;
      height: 3px;
      right: 0;
      top: 50%;
      background-color: #ccc;
    }
  }
}

.BuyOption {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  margin-bottom: var(--spacing-5);
}

.Price {
  // font-weight: var(--fontWeight-bold);
  margin: 0;
  margin-right: 5px;
}
