.Feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.MovieSection {
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  @media (min-width: 850px) {
    flex-direction: row;
  }
}

.PosterSection {
  padding: 20px;
  min-width: 350px;
  .Poster {
    max-width: 100%;
    border-radius: 4px;
    display: block;
    margin: auto;
  }
}

.Description {
  padding: var(--spacing-8);
}

.MovieTitle {
  margin: 0;
  margin-bottom: var(--spacing-5);
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.SubTitle {
  font-size: var(--fontSize-3);
}

.Info {
  margin-bottom: var(--spacing-5);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);

  @media (min-width: 950px) {
    flex-direction: row;
    gap: var(--spacing-3);
  }
}

.InfoFirstRow {
  display: flex;
  gap: 20px;
  align-items: center;
}

.InfoSecondRow {
  display: flex;
  align-items: center;
}

.Genre {
  position: relative;
  padding: 0 10px;

  &:first-child {
    padding-left: 0;
  }

  &:not(:last-child) {
    &:after {
      content: '';
      position: absolute;
      width: 3px;
      height: 3px;
      right: 0;
      top: 50%;
      background-color: var(--color-text-light);
    }
  }
}

.BuyOption {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  margin-bottom: var(--spacing-5);
}

.MovieIsPurchased {
  font-weight: var(--fontWeight-bold);
  display: flex;
  align-items: center;
  gap: 10px;
  color: green;
}

.InsufficientBalance {
  font-weight: var(--fontWeight-bold);
  color: var(--color-primary);
}

.Price {
  margin: 0;
  margin-right: 5px;
}

.CastList {
  list-style-type: none;

  .Cast {
    display: inline-block;
    position: relative;
    padding-right: 22px;
    margin-bottom: 5px;

    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        width: 3px;
        height: 3px;
        right: 9px;
        top: 50%;
        background-color: var(--color-text-light);
      }
    }
  }
}

.Feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
