.SectionTitle {
  margin: 0;
  margin-bottom: 20px;
}

.Feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
